/* Reset geral do documento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definição das características básicas do corpo do documento */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: url("https://cdn.dribbble.com/users/416610/screenshots/4801105/media/be031f8d02ca8cc404d44be54ee2c493.gif") center / cover fixed no-repeat;
}

/* Remove o scroll da página */
body::-webkit-scrollbar {
    display: none;
}

/* Remove as flechas de aumentar ou diminuir valor dos inputs de tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Configurações básicas do formulário e alguns elementos dele */
form {
    width: 55%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    padding: 15px;
    font-size: 2rem;
    color: white;
}

input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid grey;
    line-height: 35px;
}

/* Inputs que ficam escondidos, permitem animações customizadas */
input[type=checkbox], input[type=radio] {
    display: none;
}

/* Container de informações pessoais */
.input-container {
    width: 100%;
    margin-bottom: 15px;
    padding: 35px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* Campos de input dos primeiros containers */
.input-usuario {
    width: 40%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.7em;
}

/* Autoexplicativo, classe dos inputs propriamente ditos */
.inputs {
    padding: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(6px);
    font-size: 1.1rem;
    color: white;
}

/* Título dos containers, que fica logo acima deles */
.title-container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px 15px 0px 0px;
    backdrop-filter: blur(6px);
}

/* Definição do fundo dos containers, com blur, cor, opacidade e borda */
.input-container, .checkbox-container, .professional-info, .info-adicional textarea {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 0px 0px 15px 15px;
    backdrop-filter: blur(10px);
    color: white;
}

/* Estilização do container dos conhecimentos do usuário */
.checkbox-container {
    width: 100%;
    margin-bottom: 15px;
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 15px;
}

.checkbox-container > label {
    width: 27%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    user-select: none;
}

.checkbox-container > label:hover {
    cursor: pointer;
}

/* Configuração das divs das linguagens propriamente ditas */
.linguagem {
    width: 27%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    backdrop-filter: blur(6px);
    border-radius: 15px;
}

.language-content {
    width: 100%;
    height: 100%;
    gap: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    border-radius: 15px;
}

.linguagem:hover {    
    cursor: pointer;
}

.language-content.checked {
    transform: scale(0.90);
}

.linguagem.checked {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 100px -10px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    border: 1px solid white;
}

.lang-img {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-img img {
    object-fit: contain;
    max-width: 50px;
}

/* O container de informações adicionais */
.info-adicional {
    margin-top: 15px;
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.info-adicional textarea {
    width: 100%;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    resize: none;
}

/* Container dos botões */
.btn-wrapper {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 65px;
}

/* Estilização dos botões */
.form-btn {
    width: 20%;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 1.4rem;
    color: white;
    background-color: #6e6283;
    border: 1px solid white;
    font-weight: bold;
}

.form-btn:hover {
    background-color: #dbdbdb;
    color: #6e6283;
    cursor: pointer;
}

/* Container que apresenta as informações profissionais do usuário */
.professional-info {
    width: 100%;
    margin-bottom: 15px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 1.7em;
}

/* Estilização do select customizado */
.select {
    width: 75%;
    position: relative;
}

#custom-select {
    width: 65%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

/* Estilização dos campos option customizados */
.options {
    display: none;
    width: 100%;
    padding: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    width: 65%;
    display: flex;
    flex-direction: column;
}

.option-value {
    width: 100%;
    height: 40px;
    background: linear-gradient(135deg, rgb(70, 70, 70), rgb(70, 70, 70));  
}

#custom-select, .option-value {
    padding: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    font-size: 1.4rem;
    text-align: center;
    color: white;
    cursor: pointer;
}

/* Wrapper que contém os input radio da experiência do usuário */
.wrapper-radio {
    display: flex;
    justify-content: space-evenly;
}

.exp-input {
    width: 18%;
    padding: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-size: 1.4rem;
}

.exp-input.checked {
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 100px -10px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    border: 1px solid white;
    transition: transform 0.3s;
    transform: scale(0.90);
}

/* Animação para o alerta de resposta inválida */
.animation {
    animation: shaking 0.2s linear 10;
}

@keyframes shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(7deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-7deg); }
    100% { transform: rotate(0deg); }
}

.alerta-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

/* Estilo do input de alerta */
.input-alerta {
    outline-color: red;
}

/* Classes para controle de exibição */
.hidden {
    display: none;
}

.show {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease, visibility 3s ease;
}

.show.aparecendo {
    opacity: 1;
    visibility: visible;
}