body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 248, 248);
}

form {
    width: 55%;
    margin: 30px;
    /* max-width: 30em; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-usuario {
    width: 30%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.4em;
}

.input-container {
    width: 85%;
    margin-bottom: 15px;
    padding: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    gap: 30px;
    justify-content: space-evenly;
}

.wrapper label{
    font-size: 1.1rem;
    text-align: center;
}

select {
    padding: 0.5rem;
    border-radius: 8px;
}

.experiencia {
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 8px;
}

input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid grey;
    line-height: 35px;
/* max-width: 20em; */
    text-indent: 8px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.linguagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem; 
}

input[type=checkbox] {
    width: fit-content;
    transform: scale(1.2);
} 

input[type=radio] {
    width: fit-content;
}

.info-adicional{
    display: flex;
    flex-direction: column;
}

.info-adicional textarea {
    width: 95%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    resize: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    text-indent: 8px;
}

/* Remove as flechas de aumentar ou diminuir valor dos inputs de tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove as flechas no Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.btn-wrapper{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 65px;
}

.form-btn {
    width: 8rem;
    padding: 15px 25px;
    border-radius: 15px;
    border: none;
    color: white;
}

#submit-btn{
    background-color: #00afd4;
    border: 2px solid #00afd4;
    font-weight: bold;
}

#submit-btn:hover{
    background-color: white;
    color: #00afd4;
    cursor: pointer;
}

#del-btn{
    background-color: red;
    border: 2px solid red;
    font-weight: bold;
}

#del-btn:hover{
    background-color:white;
    color: red;
    cursor: pointer;
}

.input-alerta {
    outline-color: red;
}

.hidden {
    display: none;
}

.show {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.4s ease, visibility 1.4s ease;
}

.show.aparecendo {
    opacity: 1;
    visibility: visible;
}

.checkbox-container {
    width: 100%;
    margin-bottom: 15px;
    padding: 35px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    gap: 15px;
}

.checkbox-container > label {
    width: 27%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 2px solid rgb(206, 206, 206); */
    border-radius: 15px;
    user-select: none;
}

.language-content {
    width: 100%;
    height: 100%;
    gap: 15px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
    border-radius: 15px;
}




.lang-img {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.lang-img img{
    object-fit: contain;
    max-width: 50px;
}


.checkbox-container > label:hover{    
    cursor: pointer;
}


.language-content.checked {
    transform: scale(0.90);
}


.linguagem.checked{
    box-shadow: rgba(134, 134, 194, 0.25) 0px 0px 100px -10px inset, rgba(163, 163, 163, 0.3) 0px 18px 36px -18px inset;  
}